## Preprocessing

In [ ]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dla-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [ ]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(columns=["EIN","NAME"], inplace=True)
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [ ]:
# Determine the number of unique values in each column.
unique_col = application_df.nunique()
unique_col

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [ ]:
# Look at APPLICATION_TYPE value counts for binning
print(application_df["APPLICATION_TYPE"].value_counts())

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
# Set the cutoff value for binning
cutoff_value = 160

# Get the value counts for the APPLICATION_TYPE column
app_type_counts = application_df["APPLICATION_TYPE"].value_counts()

# Create a list of application types to be replaced with "Other"
application_types_to_replace = app_type_counts[app_type_counts <= cutoff_value].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [ ]:
# Look at CLASSIFICATION value counts for binning
print(application_df["CLASSIFICATION"].value_counts())

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [ ]:
# You may find it helpful to look at CLASSIFICATION value counts >1
print(application_df["CLASSIFICATION"].value_counts()[application_df["CLASSIFICATION"].value_counts() > 1])

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
# Choose the cutoff value for binning
cutoff_value2 = 1600

# Get the value counts for the CLASSIFICATION column
cls = application_df["CLASSIFICATION"].value_counts()

# Create a list of classifications to be replaced with "Other"
classifications_to_replace = cls[cls <= cutoff_value2].index.tolist()

# Replace in the DataFrame
for classification in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(classification, "Other")

# Check to make sure binning was successful
print(application_df['CLASSIFICATION'].value_counts())

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [ ]:
# Convert categorical data to numeric with `pd.get_dummies`
# List of columns that need to be one-hot encoded
columns_to_encode = ["APPLICATION_TYPE", "AFFILIATION", "CLASSIFICATION", "USE_CASE", "ORGANIZATION", "INCOME_AMT", "SPECIAL_CONSIDERATIONS"]

# Convert categorical data to numeric using one-hot encoding
application_df_encoded = pd.get_dummies(application_df, columns=columns_to_encode)

# Display the first few rows of the encoded DataFrame to inspect the changes
application_df_encoded.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [ ]:
X = application_df_encoded.drop(columns=['IS_SUCCESSFUL'])
y = application_df_encoded['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [ ]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
def create_model(input_features):

    # Create a sequential model
    nn = tf.keras.models.Sequential()

# First hidden layer
    nn.add(tf.keras.layers.Dense(80, activation='relu', input_dim = 43))

# # Second hidden layer
    nn.add(tf.keras.layers.Dense(30, activation='relu'))

# # Output layer

    nn.add(tf.keras.layers.Dense(1, activation='sigmoid'))

# Check the structure of the model
    nn.summary()
    return nn

In [ ]:
model = create_model(10)

Model: "sequential_5"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_19 (Dense)            (None, 80)                3520

 dense_20 (Dense)            (None, 30)                2430

 dense_21 (Dense)            (None, 1)                 31

=================================================================
Total params: 5,981
Trainable params: 5,981
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# Assuming you have your input features and target labels (X and y)
# Train the model
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
model.fit(X, y, epochs=100, batch_size=32)

Epoch 1/100
1072/1072 [==============================] - 5s 4ms/step - loss: 12876.9326 - accuracy: 0.4987
Epoch 2/100
1072/1072 [==============================] - 4s 4ms/step - loss: 9683.6104 - accuracy: 0.4998
Epoch 3/100
1072/1072 [==============================] - 4s 4ms/step - loss: 22911.5547 - accuracy: 0.4955
Epoch 4/100
1072/1072 [==============================] - 7s 7ms/step - loss: 17630.1602 - accuracy: 0.4837
Epoch 5/100
1072/1072 [==============================] - 5s 5ms/step - loss: 17520.7773 - accuracy: 0.5002
Epoch 6/100
1072/1072 [==============================] - 6s 6ms/step - loss: 19321.2988 - accuracy: 0.4989
Epoch 7/100
1072/1072 [==============================] - 2s 2ms/step - loss: 11807.4102 - accuracy: 0.4914
Epoch 8/100
1072/1072 [==============================] - 2s 2ms/step - loss: 17032.0293 - accuracy: 0.5027
Epoch 9/100
1072/1072 [==============================] - 2s 2ms/step - loss: 11848.6953 - accuracy: 0.5139
Epoch 10/100
1072/1072 [==============================] - 2s 2ms/step - loss: 11712.0771 - accuracy: 0.5407
Epoch 11/100
1072/1072 [==============================] - 3s 3ms/step - loss: 7482.4990 - accuracy: 0.5156
Epoch 12/100
1072/1072 [==============================] - 2s 2ms/step - loss: 4511.2915 - accuracy: 0.5234
Epoch 13/100
1072/1072 [==============================] - 2s 2ms/step - loss: 4424.3008 - accuracy: 0.5235
Epoch 14/100
1072/1072 [==============================] - 2s 2ms/step - loss: 2338.5684 - accuracy: 0.5032
Epoch 15/100
1072/1072 [==============================] - 2s 2ms/step - loss: 3377.2017 - accuracy: 0.5006
Epoch 16/100
1072/1072 [==============================] - 4s 3ms/step - loss: 1808.4698 - accuracy: 0.4918
Epoch 17/100
1072/1072 [==============================] - 3s 3ms/step - loss: 1106.5762 - accuracy: 0.5056
Epoch 18/100
1072/1072 [==============================] - 2s 2ms/step - loss: 316.7831 - accuracy: 0.5153
Epoch 19/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.6933 - accuracy: 0.5324
Epoch 20/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5324
Epoch 21/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5324
Epoch 22/100
1072/1072 [==============================] - 3s 3ms/step - loss: 0.6911 - accuracy: 0.5324
Epoch 23/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5324
Epoch 24/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5324
Epoch 25/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5324
Epoch 26/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5324
Epoch 27/100
1072/1072 [==============================] - 3s 3ms/step - loss: 0.6911 - accuracy: 0.5324
Epoch 28/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5324
Epoch 29/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5324
Epoch 30/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5324
Epoch 31/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5324
Epoch 32/100
1072/1072 [==============================] - 3s 3ms/step - loss: 0.6911 - accuracy: 0.5324
Epoch 33/100
1072/1072 [==============================] - 3s 3ms/step - loss: 0.6912 - accuracy: 0.5324
Epoch 34/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5324
Epoch 35/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5324
Epoch 36/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5324
Epoch 37/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5324
Epoch 38/100
1072/1072 [==============================] - 3s 3ms/step - loss: 0.6912 - accuracy: 0.5324
Epoch 39/100
1072/1072 [==============================] - 3s 3ms/step - loss: 0.6911 - accuracy: 0.5324
Epoch 40/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5324
Epoch 41/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5324
Epoch 42/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5324
Epoch 43/100
1072/1072 [==============================] - 3s 3ms/step - loss: 0.6913 - accuracy: 0.5324
Epoch 44/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5324
Epoch 45/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5324
Epoch 46/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5324
Epoch 47/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5324
Epoch 48/100
1072/1072 [==============================] - 3s 3ms/step - loss: 0.6912 - accuracy: 0.5324
Epoch 49/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5324
Epoch 50/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5324
Epoch 51/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5324
Epoch 52/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5324
Epoch 53/100
1072/1072 [==============================] - 3s 3ms/step - loss: 0.6912 - accuracy: 0.5324
Epoch 54/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5324
Epoch 55/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5324
Epoch 56/100
1072/1072 [==============================] - 3s 3ms/step - loss: 0.6913 - accuracy: 0.5324
Epoch 57/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5324
Epoch 58/100
1072/1072 [==============================] - 3s 3ms/step - loss: 0.6912 - accuracy: 0.5324
Epoch 59/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5324
Epoch 60/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5324
Epoch 61/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5324
Epoch 62/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5324
Epoch 63/100
1072/1072 [==============================] - 3s 2ms/step - loss: 0.6911 - accuracy: 0.5324
Epoch 64/100
1072/1072 [==============================] - 3s 2ms/step - loss: 0.6912 - accuracy: 0.5324
Epoch 65/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5324
Epoch 66/100
1072/1072 [==============================] - 3s 3ms/step - loss: 0.6912 - accuracy: 0.5324
Epoch 67/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5324
Epoch 68/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5324
Epoch 69/100
1072/1072 [==============================] - 3s 3ms/step - loss: 0.6912 - accuracy: 0.5324
Epoch 70/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5324
Epoch 71/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5324
Epoch 72/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5324
Epoch 73/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5324
Epoch 74/100
1072/1072 [==============================] - 3s 3ms/step - loss: 0.6911 - accuracy: 0.5324
Epoch 75/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5324
Epoch 76/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5324
Epoch 77/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5324
Epoch 78/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5324
Epoch 79/100
1072/1072 [==============================] - 3s 3ms/step - loss: 0.6912 - accuracy: 0.5324
Epoch 80/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5324
Epoch 81/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.6913 - accuracy: 0.5324
Epoch 82/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5324
Epoch 83/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5324
Epoch 84/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5324
Epoch 85/100
1072/1072 [==============================] - 3s 3ms/step - loss: 0.6912 - accuracy: 0.5324
Epoch 86/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5324
Epoch 87/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5324
Epoch 88/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5324
Epoch 89/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5324
Epoch 90/100
1072/1072 [==============================] - 3s 3ms/step - loss: 0.6913 - accuracy: 0.5324
Epoch 91/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5324
Epoch 92/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5324
Epoch 93/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5324
Epoch 94/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5324
Epoch 95/100
1072/1072 [==============================] - 3s 3ms/step - loss: 0.6911 - accuracy: 0.5324
Epoch 96/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5324
Epoch 97/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5324
Epoch 98/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5324
Epoch 99/100
1072/1072 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5324
Epoch 100/100
1072/1072 [==============================] - 3s 3ms/step - loss: 0.6911 - accuracy: 0.5324

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 0s - loss: 0.7694 - accuracy: 0.6595 - 478ms/epoch - 2ms/step
Loss: 0.7693506479263306, Accuracy: 0.6594752073287964

In [ ]:
# Export our model to HDF5 file
nn = tf.keras.models.Sequential()
model.save("AlphabetSoupCharity.h5")